*{
    box-sizing:border-box;
    padding: 0;
}
/* BODY */
@font-face {
    font-family: Montserrat-Light;
    src: url(/fuentes/Montserrat-Light.ttf) format('truetype');
}
body {
    font-family: Montserrat-Light,quicksand, sans-serif;
    background: url(../img/Fondos/cajas.jpg);
    
    background-repeat: no-repeat; 
    background-size: 100vmax;
    color:#000000;
    padding: 0;
}

/* ** MAIN ** */
.quienesSomosMain{
        display: flex;
        flex-wrap:wrap;
        flex-direction: column;
        justify-content:space-evenly;
        align-content: center;
        gap: 1.5em;
        margin: 5px 0;
        padding: 0;
        margin-bottom: 12vh;
        margin-bottom: 0;
}
.cards{
    display: flex;
    list-style:none;
    flex-direction: column;
    /* justify-content: center; */
    margin: 0 0 10px 0;
    gap: 1em;
    width: 100vw;
}
.cards li {
    text-align: center;
    padding: 1em;
    background-color: #BFBFB0;
    font-weight: 600;
}

/* TERMINA EL MAIN */

/* Medias queries */

@media (min-width: 990px){
 /* BODY */
   body{
       position: relative;
   }

/* CARDS */
.quienesSomosMain{
    display: flex;
    margin-bottom: 0;
    
}
.cards{
    display: flex;
    width: 100%;
    
    padding: 10px;
    gap:2em;
    list-style:none;
    margin: 0;
    margin-bottom: 10vh;
    flex-direction: row;
    align-items: center;
}
.cards li{
  
    background-color: transparent;
    /* border-radius: 15px; */
    text-decoration: none;
    padding: 15px;
    text-align: center;
    font-weight: 600px;
    align-items: center; 
    height: 25vw;
}
.cards li:hover {
    box-shadow : 0px 0px 10px rgb(160, 160, 160);
    } 

.fa {
    font-weight: 5em;
    color:#5F5E59;
    padding: 15px;
    
}

@font-face {
    font-family: Montserrat-Light;
    src: url(/fuentes/Montserrat-Light.ttf) format('truetype');
}

}
