<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Quienes Somos</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/quienesSomos.css">
    <!--    Font awesome  -->
    <script src="https://kit.fontawesome.com/29db22af69.js" crossorigin="anonymous"></script>
    <!-- Animate CSS -->
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />

</head>

<body>

    <%- include('../partials/header') %>
    <section class = "quienesSomosMain">
    
        <ul class = "cards">
            <li class="digital animate__animated animate__pulse">
            
                <i class="fa fa-solid fa-desktop fa-9x"></i>
                    <h3>100% digital </h3> 
                
                <p class = "parrafoInterno">Cotización y contratación on line de manera inmediata a través de la plataforma Yo te Mudo.</p>
                
            </li>

            <li class="simple animate__animated animate__pulse">
                <i class="fa fas fa-check fa-9x"></i>
                    <h3> Simple</h3>
               <p> Indicás el servicio que necesitás, servicios adicionales y listo! Yo Te Mudo se encarga del resto.</p> 
            </li>
            <li class="rapido animate__animated animate__pulse">
            <i class="fa far fa-clock fa-9x"></i>
                <h3>Rápido y ágil</h3>
               <p> Resolvé las necesidades de traslado de un punto a otro de manera inmediata, sin contratiempos, sin precios ocultos!.</p>
            </li>
            <li class="seguro animate__animated animate__pulse">
            <i class="fa fas fa-thumbs-up fa-9x"></i>
                <h3>Seguro y confiable</h3>
               <p> Todas las operaciones son seguras ya que nuestros camiones estan monitoreados en todo momento!</p>   
            </li>
        </ul>
     
    
    
    
    </section>


       

       

        
        
        <%- include('../partials/footer') %>

</body>

</html>